.navbar-brand {
    float: none;
    margin-right: 0 !important;
    margin-left: 10rem;
}

.navbar-header {
    float: left;

    text-align: center;
    margin: auto;
    width: 90%;
}

@media screen and (max-width: 1600px) {
    .navbar-brand {
        float: none;
        margin-right: 0 !important;
        margin-left: 5rem;
    }
    .navbar-header {
        width: 80%;
        float: left;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    .navbar-brand {
        float: none;
        margin-right: 0 !important;
        margin-left: 0;
    }
    .navbar-header {
        width: 70%;
        float: left;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        float: none;
        margin-right: 0 !important;
        margin-left: 0;
    }
    .navbar-header {
        width: 70%;
        float: left;
        text-align: center;
        margin: auto;
    }
}
